.navbar {
    width: 100%;
    background-color: #fa205c;
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.navbar__links {
    display: flex;
    width: 500px;
    height: 30px;
    border: 2px solid #290f11;
    border-radius: 10px;
    margin: 5px 50px;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
}

.navbar__link {
    margin: 0 15px;

}